<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div style="text-align: center; margin: 0% 10% 0% 10%;" class="mb-4 mt-4">
  <h1>Advanced Email Writer</h1>
  <p>Write professional, polished emails with the help of LLMs.</p>
  <hr>

</div>



<div class="container" style="text-align: center;">

  <div class="container">

    <div class="container mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-header mb-4">
          <h2>1. Context</h2>
          <p class="mb-0">Define the context to generate more effective emails.</p>
          </div>
          <div class="container text-center mb-3">
            <p class="mb-1">Is this a new email or a reply to an existing one?</p>
            <input type="radio" class="btn-check" name="emailOptions" id="newEmail" autocomplete="off" checked>
            <label class="btn btn-primary" for="newEmail">New Email</label>
            <input type="radio" class="btn-check" name="emailOptions" id="emailReply" autocomplete="off">
            <label class="btn btn-secondary" for="emailReply">Reply to an email/s</label>

            <div id="emailHistoryWrapper" style="display: none;">
              <label for="emailHistory" class="form-label mt-3">Email History: (paste previous emails in this conversation here)</label>
              <div class="input-group mb-3">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Email content" id="emailHistory" style="height: 100px"></textarea>
                  <label for="emailHistory">Email History</label>
                </div>
              </div>
            </div>
          </div>


          <div class="container text-center ">
            <div class="row">
              <div class="col">
                <label for="name" class="form-label">Receiver's name</label>
                <div class="input-group mb-3">
                  <div style="width: 35%; padding-right: 5px;">
                    <div class="form-floating mb-3">
                      <select class="form-select" id="title">
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Miss.">Miss.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Prof.">Prof.</option>
                        <option value="Eng.">Eng.</option>
                        <option value="">Do not specify</option>
                      </select>
                      <label for="floatingSelectGrid">Title</label>
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Receiver's Name">
                    <label for="floatingInput">Receiver's Name</label>
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="relation" class="form-label">Receiver's relation to you</label>
                <div class="form-floating mb-3">
                  <input type="text" list="relationList" class="form-control" id="relation" placeholder="Receiver's relation">
                  <label for="floatingInput">Receiver's relation</label>
                </div>

                <datalist id="relationList">
                  <option value="Professor">
                  <option value="Client">
                  <option value="Friend">
                  <option value="Unknown Recipient">
                </datalist>
              </div>
            </div>
          </div>
          <hr>

          <div class="card-header mb-4">
          <h2>2. Content</h2>
          <p class="mb-0">Customize how your email should sound.</p>
          </div>

          <label for="content" class="mb-2">What do you want to say? <span style="font-size: 10px;"><i>(Describe what you want in natural language)</i></span></label>
          <div class="input-group mb-3">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Email content" id="content" style="height: 100px"></textarea>
              <label for="floatingTextarea2">Email content</label>
            </div>
          </div>

          <div class="container text-center mt-3">
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <select class="form-select" id="tone">
                    <option value="3">Apology</option>
                    <option value="1" selected>Casual</option>
                    <option value="0">Formal</option>
                    <option value="2">Friendly</option>
                  </select>
                  <label for="tone">🗣️ Tone</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <select class="form-select" id="urgency">
                    <option value="2" class="text-danger">High</option>
                    <option value="1" selected>Normal</option>
                    <option value="0" class="text-success">Low</option>
                  </select>
                  <label for="floatingSelectGrid">🕔 Urgency</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <select class="form-select" id="length">
                    <option value="2">Detailed & Thorough</option>
                    <option value="1" selected>Balanced</option>
                    <option value="0">Short & Concise</option>
                  </select>
                  <label for="floatingSelectGrid">📏 Length</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <select class="form-select" id="language">
                    <option value="English" selected>English</option>
                    <option value="Arabic">عربي</option>
                  </select>
                  <label for="floatingSelectGrid">🌐 Language</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="d-grid gap-2 mt-2">


                  <div class="btn-group btn-group-lg" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-info btn-lg" id="generateEmailButton" onclick="generateEmail()">Generate Email ✨</button>

                    <select class="form-select" id="model" style="width: 15%;">
                      <% for(let i = 0; i < models.length; i++){ %>
                      <option value="<%= i %>"><%= models[i] %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="resultWrapper" style="display: none;">
            <hr>

            <div class="card-header mb-3 mt-3">
              <h2>3- Result</h2>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <p class="form-control" id="emailResult" style="height:auto; text-align: left;">

                </p>
                <label for="content">Generated Email</label>
              </div>
            </div>
          </div>

          <div id="loadingText" style="display: none;">
            <hr>
            <div class="card-header mb-3 mt-3">
              <h2>3- Result</h2>
            </div>
            <div class="input-group mb-3 mt-3">
              <div class="form-floating">
                <p class="form-control" style="height:auto; text-align: left;">
                  <span class="placeholder col-7"></span>
                  <span class="placeholder col-4"></span>
                  <span class="placeholder col-4"></span>
                  <span class="placeholder col-6"></span>
                  <span class="placeholder col-8"></span>
                </p>
                <label for="content">Generated Email</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include("partials/footer") %>