<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="card-header" style="text-align: center;">
        <h2>Text Enhancement history</h2>
      </div>
      <% if(enhancedTexts.length == 0){ %>
        <h5 class="mt-4 mb-4" style="text-align: center;">You have no records</h5>
      <% } else { %>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Input</th>
            <th scope="col">Mode</th>
            <th scope="col">Output</th>
            <th scope="col">Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% enhancedTexts.forEach((enhancedText, i) => { %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%= enhancedText.input %></td>
            <td><%= enhancedText.mode %></td>
            <td><%= enhancedText.enhancedText %></td>
            <%
        const date = new Date(enhancedText.datetime);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}`;
      %>
            <td><%= formattedDateTime %></td>
            <td>
              <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal<%= i %>">
                more
              </button>
            </td>
          </tr>

          <div class="modal fade" id="modal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">UUID: <%= enhancedText.index %></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                  <div class="mb-3 mt-3">
                    <h5>Input</h5>
                    <p><%= enhancedText.input %></p>
                    <hr>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Mode</h5>
                    <p><%= enhancedText.mode %></p>
                    <hr>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Model</h5>
                    <p><%= enhancedText.model %></p>
                    <hr>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Output</h5>
                    <p><%= enhancedText.enhancedText %></p>
                    <hr>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Date</h5>
                    <p><%= formattedDateTime %></p>
                    <hr>
                  </div>

                </div>
                <div class="modal-footer">
                  <a href="/history/delete?type=enhancement&index=<%= enhancedText.index %>"><button type="button" class="btn btn-danger">Delete</button></a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <%  }); %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>
  <hr>
    <div class="card">
    <div class="card-body">
      <div class="card-header" style="text-align: center;">
        <h2>Generated Emails history</h2>
      </div>
      <% if(generatedEmails.length == 0){ %>
        <h5 class="mt-4 mb-4" style="text-align: center;">You have no records</h5>
      <% } else { %>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Receiver's Name</th>
            <th scope="col">Relation</th>
            <th scope="col">Content</th>
            <th scope="col">Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% generatedEmails.forEach((generatedEmail, i) => { %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%= generatedEmail.name %></td>
            <td><%= generatedEmail.relation %></td>
            <td><%= generatedEmail.content %></td>
            <%
        const date = new Date(generatedEmail.datetime);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}`;
      %>
            <td><%= formattedDateTime %></td>
            <td>
              <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#emailModal<%= i %>">
                more
              </button>
            </td>
          </tr>

          <div class="modal fade" id="emailModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">UUID: <%= generatedEmail.index %></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                  <div class="mb-3 mt-3">
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h5>Name</h5>
      <p><%= generatedEmail.name %></p>
    </div>
    <div class="col">
      <h5>Relation</h5>
      <p><%= generatedEmail.relation %></p>
    </div>
  </div>
  <hr>
</div>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Content</h5>
                    <p><%= generatedEmail.content %></p>
                    <hr>

                  </div>
                  <div class="mb-3 mt-3">
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h5>Tone</h5>
      <p><%= generatedEmail.tone %></p>
    </div>
    <div class="col">
      <h5>Urgency</h5>
      <p><%= generatedEmail.urgency %></p>
    </div>
    <div class="col">
      <h5>Length</h5>
      <p><%= generatedEmail.length %></p>
    </div>
    <div class="col">
      <h5>Language</h5>
      <p><%= generatedEmail.language %></p>
    </div>
  </div>
</div>
                    <hr>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Generated Email</h5>
                    <p><%= generatedEmail.generatedEmail %></p>
                    <hr>
                  </div>
                  <div class="mb-3 mt-3">
                    <h5>Date</h5>
                    <p><%= formattedDateTime %></p>
                    <hr>
                  </div>

                </div>
                <div class="modal-footer">
                  <a href="/history/delete?type=email&index=<%= generatedEmail.index %>"><button type="button" class="btn btn-danger">Delete</button></a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <%  }); %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>

</div>
<script>

    document.addEventListener('DOMContentLoaded', () => {

    const deletionStatus = <%- JSON.stringify(deletionStatus) %>; // Access and parse it here
    if(deletionStatus){
        if(deletionStatus.deleted){
            showToastSuccess(`Deleted "${deletionStatus.index} successfully"`)
        } else {
            showToast(`Error deleting "${deletionStatus.index}"\n${deletionStatus.reason}`)
        }
    }

    });
</script>
<script src="/assets/script.js"></script>

<%- include("partials/footer") %>