<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div style="text-align: center; margin: 0% 10% 0% 10%;" class="mb-4 mt-4">
  <h1>Text Enhancer</h1>
  <p>Enhance and transform your text using local LLMs.</p>
  <hr>

</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="container text-center">
        <div class="row">
          <div class="col">

            <div class="form-floating">
              <textarea class="form-control" placeholder="Write your text here" id="before" style="height: 200px" maxlength="512"></textarea>
              <label for="before">Write your text here</label>
            </div>
            <div class="container text-center mt-3">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="mode" aria-label="Floating label select example">
                      <option selected value="0">🔎 Correct Grammar</option>
                      <option value="1">💬 Enhance Phrasing</option>
                      <option value="2">🧠 Smart, Academic Tone</option>
                      <option value="3">🏴‍☠️ Pirate Speak</option>
                    </select>
                    <label for="mode">Mode</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="model" aria-label="Floating label select example">
                      <% for(let i = 0; i < models.length; i++) { %>
                      <option value="<%= i %>"><%= models[i] %></option>
                      <% } %>
                    </select>
                    <label for="model">LLM Model</label>
                  </div>
                </div>
                <!--
              <div class="col">
                <div style="margin: 5px;">
                  <input type="checkbox" class="btn-check" id="think" autocomplete="off" disabled>
                  <label class="btn btn-outline-info btn-lg" for="think">🧠 Think</label>
                </div>
              </div>
              -->
              </div>
              <div class="row mt-3">
                <div class="col">
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-lg" id="enhanceButton" type="button" onclick="enhanceText()">Enahnce Text ✨</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-floating" id="textArea" style="display: block;">
              <p class="form-control mb-3" id="after" style="min-height: 200px; height: auto; text-align: left;">
              </p>
              <label for="after">Your enhanced version will appear here</label>
            </div>
            <input type="text" id="hiddenResultOnly" style="display: none;"></span>

            <div class="form-floating" id="loadingText" style="display: none;">
              <p class="form-control mb-3" id="after" style="min-height: 200px; text-align: left;">

                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
                <span class="placeholder col-7"></span>
              </p>
              <label for="after">Your enhanced version will appear here</label>
            </div>

            <div class="container text-center mt-3" id="resultOptions" style="display: none;">
              <div class="row">
                <div class="col">
                  <!--
                  <div class="centralize">
                    <div>
                      <button class="copyButton">
                        <span onclick="copyText()"><svg width="12" height="12" fill="#0E418F" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 467 512.22">
                            <path fill-rule="nonzero" d="M131.07 372.11c.37 1 .57 2.08.57 3.2 0 1.13-.2 2.21-.57 3.21v75.91c0 10.74 4.41 20.53 11.5 27.62s16.87 11.49 27.62 11.49h239.02c10.75 0 20.53-4.4 27.62-11.49s11.49-16.88 11.49-27.62V152.42c0-10.55-4.21-20.15-11.02-27.18l-.47-.43c-7.09-7.09-16.87-11.5-27.62-11.5H170.19c-10.75 0-20.53 4.41-27.62 11.5s-11.5 16.87-11.5 27.61v219.69zm-18.67 12.54H57.23c-15.82 0-30.1-6.58-40.45-17.11C6.41 356.97 0 342.4 0 326.52V57.79c0-15.86 6.5-30.3 16.97-40.78l.04-.04C27.51 6.49 41.94 0 57.79 0h243.63c15.87 0 30.3 6.51 40.77 16.98l.03.03c10.48 10.48 16.99 24.93 16.99 40.78v36.85h50c15.9 0 30.36 6.5 40.82 16.96l.54.58c10.15 10.44 16.43 24.66 16.43 40.24v302.01c0 15.9-6.5 30.36-16.96 40.82-10.47 10.47-24.93 16.97-40.83 16.97H170.19c-15.9 0-30.35-6.5-40.82-16.97-10.47-10.46-16.97-24.92-16.97-40.82v-69.78zM340.54 94.64V57.79c0-10.74-4.41-20.53-11.5-27.63-7.09-7.08-16.86-11.48-27.62-11.48H57.79c-10.78 0-20.56 4.38-27.62 11.45l-.04.04c-7.06 7.06-11.45 16.84-11.45 27.62v268.73c0 10.86 4.34 20.79 11.38 27.97 6.95 7.07 16.54 11.49 27.17 11.49h55.17V152.42c0-15.9 6.5-30.35 16.97-40.82 10.47-10.47 24.92-16.96 40.82-16.96h170.35z"></path>
                          </svg>
                          Copy Text</span>
                        <span>Copied</span>
                      </button>
                    </div>
                  </div>
                  -->
                  <button class="btn btn-secondary" style="width: 95%;" onclick="copyText()"><i class="fa-solid fa-copy"></i> Copy Text</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const toastTrigger = document.getElementById('liveToastBtn')
  const toastLiveExample = document.getElementById('liveToast')

  if (toastTrigger) {
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
    toastTrigger.addEventListener('click', () => {
      toastBootstrap.show()
    })
  }
</script>
<script src="assets/diff.js"></script>

<%- include("partials/footer") %>